
@import url(bootstrap.min.css);

body {

}

.image {
	margin-top: 90px;
}

.bottom {
	text-align: center;
	margin-bottom: 24px;
	font-size: 24px;
}

.nav {
	font-weight: 300;
}

.social a {
	color:#999999;
}